{% extends 'base.html.twig' %}

{% block title %}Create new user{% endblock %}

{% block body %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1>Create new user</h1>

        {{ form_start(form, {'attr': {'id': 'form_create_user'}}) }}
        {{ form_end(form) }}
    </div>
</main>

{% endblock %}
