<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
    <script>

        $(document).on("click", "#user_submit", function () {

            let user = {
                fullName: $("#user_fullName").val(),
                username: $("#user_email").val(),
                textPassword: $("#user_password").val(),
                role: $("#user_role").val()
            };


            $.ajax("{{ path('api_user_create') }}", {
                type: "POST",
                data: JSON.stringify(user),
                dataType: "JSON",
                contentType: 'application/json',
                success: function() {
                    alert('done!');
                },
                error: function (xhr) {
                    alert("error:" + xhr.status);
                }
            });


        });
    </script>
</html>
